include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Present Continuous - указывает на процесс, длящийся непосредственно в момент речи.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('указание на процесс, происходящий непосредственно в момент разговора')
            +grammar-list-point('действие, находящееся в процессе своего развития, но необязательно происходящее в момент разговора')
            +grammar-list-point('описание повторяющихся действий с использованием слов always, constantly, forever (как правило это относится к характерным свойствам и поведению людей, часто с негативной окраской)')
            +grammar-list-point('запланированное действие в будущем, часто с глаголами движения')
            +grammar-list-point('в ситуациях, когда человек рассказывает историю или пересказывает книгу или фильм')
            +grammar-list-point('используется для того, чтобы противопоставлять новое старому')
            +grammar-list-point('продолжительное действие происходит на фоне другого действия, может применяться союз while')
            +grammar-list-point('действие происходит при временных, непостоянных обстоятельствах. (со словами until, during, for)')
            +grammar-list-point('если говорим о планах в будущем. (со словами next week/month/year, tonight, tomorrow)')