include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('by – к', 'Unfortunately, most of audience had not stayed by the end of the play. - К сожалению, к концу спектакля большая часть аудитории ушла.')
            +grammar-list('hardly … when – как только, едва, не успел я', 'Hardly had they crossed the road when the accident happened. - Едва они перешли дорогу, как случилась авария.')
            +grammar-list('no sooner … than - как только, едва', 'No sooner than he had came in he heard congratulations and his friends gathered around him. - Как только он вошел, он услышал поздравления и друзья собрались вокруг него.')
            +grammar-list('after – после', 'After boy had done his hometask he went out to play football with his friends. - После того как мальчик сделал домашнее задание, он пошел гулять.')
            +grammar-list('earlier – ранее', 'She knew how to cook a cake because she had made it earlier. - Она знала, как испечь торт, потому что делала его ранее.')
            +grammar-list('before – до', 'James easily won this game because he had played it many times before. - Джеймс легко сыграл в эту игру, так как до этого играл в нее много раз.')
            +grammar-list('first – сперва', 'First we had taken all our bags, then understood that we forgot our tickets on the table. - Сперва мы забрали вещи, а потом поняли, что забыли билеты на столе.')
            +grammar-list('when – когда', 'John had sat to work when his boss called for him. - Джон сел за стол поработать, когда начальник позвал его.')
            +grammar-list('just – только что', 'I just had sat to have lunch when my friend called me. - Я только сел пообедать как мой друг позвонил мне.')
            +grammar-list('already – уже', 'We had already bought a cake when Jill called us and told that she bought a cake too. - Мы уже купили торт когда Джилл позвонила нам и сказала, что тоже купила торт.')
            +grammar-list('yet – уже, еще не', 'I hadn’t served the table yet when the guests came. - Я еще не накрыла на стол, когда пришли гости.')
