.tense__main
    h5.tense__main-title Схема построения отрицательной формы предложений Past Perfect
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words had not
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Bob (he) had not talked much before he met Mary.
            | — Боб не говорил много до того, как встретил Мэри.
        .tense__examples-item
            b Mary (she) had not finished her make-up by the time Bob came to pick her up.
            | — Мэри не закончила краситься к тому времени, как Боб пришел за ней.
        .tense__examples-item
            b Bob and Mary (they) had not talked their marriage over before, and some questions appeared.
            | — Боб и Мэри не обсуждали свадьбу раньше, и появились некоторые вопросы.
        .tense__examples-item
            b I had not called my mom, so she called me ten times.
            | — Я не звонил маме, и она позвонила мне десять раз.