.tense__main
    h5.tense__main-title Схема построения утвердительной формы предложений Past Perfect
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words had
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Mary did not have any money because she had lost her wallet.
            | — У Мэри не было денег, потому то она потеряла кошелек.
        .tense__examples-item
            b I knew London so well because I had visited the city several times.
            | — Я знал Лондон, потому что бывал в городе несколько раз.
        .tense__examples-item
            b Mary only understood the movie “It” because she had read the book.
            | — Мэри поняла фильм “Оно” только потому, что она читала книгу.

