include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Past Perfect — это прошедшее совершенное время. 
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('действие, которое произошло до какого-то события в прошлом')
            +grammar-list-point('действие, которое произошло до определенного момента в прошлом')
            +grammar-list-point('действие, которое стало причиной какого-то события в прошлом')
            +grammar-list-point('когда говорим о том, что длилось в прошлом до какого-то конкретного момента с глаголами состояния, которые не употребляются в длительном времени Continuous (to know, to have, to be, to own) ')
            +grammar-list-point('в условных предложениях третьего типа, которые используются для выражения сожаления о прошлом')
            +grammar-list-point('с конструкцией I wish, когда также сожалеем о прошлом')
            +grammar-list-point('в косвенной речи, когда хотим звучать более формально (в разговорной речи уже допускается Past Simple)')

