include ./check.pug
mixin grammar-list-point(text)
    li.tense__list-point
        +check
        p.tense__list-text= text

mixin grammar-list(word, example)
    li.tense__list
        p.tense__list-word= word
        p.tense__list-example= example
