include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('For - в течение, в продолжении', 'She had been working for 5 hours when Jack called. — Она работала в течение 5-ти часов, когда позвонил Джек.')
            +grammar-list('since - с того времени. ', 'They had not been talking since June. — Они не разговаривали с июня.')
            +grammar-list('before - перед', 'My sister had been working as a nurse for 30 years before she resigned. — Моя сестра работала медсестрой в течение 30 лет, прежде чем вышла на пенсию.')
            +grammar-list('then - тогда, затем, потом', 'Kate had been looking for her phone for an hour, then she found it in her pocket. — Кейт час искала свой телефон, затем она обнаружила его у себя в кармане.')
            +grammar-list('because - потому что, поскольку', 'I was tired this morning because I had been reading all night. — Я был уставшим сегодня утром, потому что всю ночь читал.')
            +grammar-list('as - так как, поскольку', ' He felt ill when he came home as he had been swimming in a cold lake. — Он почувствовал себя больным, когда пришел домой, так как купался в холодном озере.')
            +grammar-list('until - до тех пор, пока', ' I had been looking for my key until I stepped on it. — Я искал мой ключ до тех пор, пока не наступил на него.')
