include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Past Perfect Continuous — прошедшее совершенное длительное время.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('Действие началось в прошлом и длилось до определенного момента в прошлом. Мы говорим об определенном моменте в прошлом в Past Simple, его обязательно нужно указывать в предложении.')
            +grammar-list-point('Действие длилось в прошлом и в прошлом был виден результат')

