section.training__test.believe.believe__hidden
    .believe__header
        .countdown
        img.believe__logo(src="@img/believe-game.svg", alt="believe")
        .progress.progress__believe
        .believe__close
            img(src="@img/close-btn.svg", alt="Close")
    .believe__description
        .believe__content-descr
            img.believe__ico-descr(src="@img/question.svg", alt="Description")
            .believe__text-descr
                .believe__title-descr Как играть?
                .believe__text Определи правильно или не правильно подобран перевод к слову
        button.believe__btn-start Начать
    .believe__questions-box
    .believe__options.believe__hidden
        button.believe__btn.believe__btn-true(data-answer="true") Верю
        button.believe__btn.believe__btn-false(data-answer="") Не верю