include mixins.pug
header.header
    .container
        nav.menu
            ul.menu__list
                +menu-item("Карточки", '/cards.html')
                +menu-item("Грамматика", '/grammar.html')
                +menu-item("Тренировки", '/trainings.html')
            ul.menu__list
                <?php if(isset($_SESSION['logged_user'])) : ?>
                +menu-item("Выйти", '/auth.html')
                <?php else : ?>
                +menu-item("Войти", '/auth.html')