include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('just - как раз, точно, едва, только что, всего лишь, совсем, только-только, лишь, сейчас', 'He has just started this task. – Он только начал это задание.')
            +grammar-list('already – уже, ранее, даже', 'I have already bought a gift. – Я уже купил подарок.')
            +grammar-list('never – никогда', 'I have never seen him. – Я никогда его не видел')
            +grammar-list('lately – давно, в последнее время, недавно, за последнее время', 'He has lately read many books. – Он недавно прочитал много книг.')
            +grammar-list('recently – недавно, на днях, в последнее время, только что, не так давно', 'She has made good progress recently. – Она добилась прогресса в последнее время.')
            +grammar-list('of late – с недавних пор, за последнее время, недавно', 'They have not spoken of late. – Последнее время они не разговаривали.')
            +grammar-list('before – раньше, прежде, пока не, уже, перед тем как', 'I have seen this film before. – Я видел этот фильм раньше.')
            +grammar-list('not … yet – все еще нет, нет еще, еще не, нет, еще нет', 'They haven’t finished their project yet. – Они еще не закончили свой проект.')
            +grammar-list('ever – когда-либо, когда бы то ни было, когда-нибудь', 'Have you ever been to New York? – Ты когда-нибудь был в Нью-Йорке?')
            +grammar-list('so far – уже, к настоящему времени, на этот час, пока, до сих пор, вплоть до этого момента', 'He has so far written ten letters to her. – К этому времени он уже написал ей десять писем.')
            +grammar-list('by now – на настоящий момент', 'She has read all his books by now. – К настоящему моменту она прочитала все его книги.')
            +grammar-list('up to now – до сих пор, до настоящего времени', 'Up to now I haven’t found my keys. – До сих пор я не нашел мои ключи.')
            +grammar-list('still – все еще', 'I still have not finished writing my composition. – Я все никак не закончу писать сочинение.')
    