include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Present Perfect — это настоящее совершенное время. В русском языке нет аналога для Present Perfect, мы используем только одно настоящее время. Нам сложно понять — как это действие может быть в настоящем, но совершенное.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('Действие началось когда-то в прошлом и до сих пор продолжается')
            +grammar-list-point('Действие много раз повторялось в относительно недавнем прошлом и до сих пор происходит')
            +grammar-list-point('Действие началось в какое-то определенное время в прошлом и до сих пор продолжается')
            +grammar-list-point('Действие описывает пережитый опыт вплоть до настоящего момента. В отрицательных предложениях можно использовать наречия never или ever')
            +grammar-list-point('Если действие произошло в прошлом, но влияет на настоящее время')
            +grammar-list-point('Когда нужно указать, что человек отсутствовал, но уже вернулся')
