.tense__main
    h5.tense__main-title Схема построения отрицательной формы предложений Present Perfect
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words have not
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b People (they) have not travelled to Mars.
            | — Люди не посещали Марс.
        .tense__examples-item
            b I have not read this book.
            | — Я не читал эту книгу.
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words has not
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Mary (she) hasn’t become interested in modern art.
            | — Мэри не начала интересоваться современным искусством.
        .tense__examples-item
            b Bob (he) hasn’t studied architecture.
            | — Боб не изучал архитектуру.
