.tense__main
    h5.tense__main-title Схема построения вопросительной формы предложений Present Perfect
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
        .tense__explanations-item
            .tense__explanations-ico ВС
            .tense__explanations-description Вопросительное слово по требованию
    .tense__scheme
        .tense__explanations-ico ВС
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words Have
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Have people (they) travelled to space?
            |  — Люди путешествовали в космос?
        .tense__examples-item
            b Have you bought a car?
            | — Ты купил машину?
        .tense__examples-item
            b How long have you knocked on the door?
            | — Как давно ты стучал в дверь?
    .tense__scheme
        .tense__explanations-ico ВС
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words Has
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Has Bob (he) studied architecture?
            |  — Боб изучал архитектуру?
        .tense__examples-item
            b Has Mary (she) read this book?
            | — Мэри читала эту книгу?
        .tense__examples-item
            b What has he just said?
            | — Что он только что сказал?



