.tense__main
    h5.tense__main-title Схема построения отрицательной формы предложений Present Perfect Continuous
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words have not been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b I have not been watching this trick all this time.
            | – Я не смотрела на этот фокус всё это время.
        .tense__examples-item
            b We have not been talking about our wedding.
            |  – Мы не разговаривали о нашей свадьбе.
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words has not been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b She has not been waiting for you for half an hour.
            | – Она не ждала тебя на протяжении получаса.
        .tense__examples-item
            b Ann has not been living in this house for 10 years.
            | – Энн не прожила (не живет) в этом доме 10 лет.
