include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Present Perfect Continuous Tense — настоящее длительное совершенное время.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('Действие началось в прошлом, длилось и все еще продолжается')
            +grammar-list-point('Действие длилось какое-то время (длительность – это важно), и виден результат')
            +grammar-list-point('Чтобы указать на то, что длилось недавно или в последнее время со словами lately (в последнее время) и recently (недавно)')