.tense__main
    h5.tense__main-title Схема построения вопросительной формы предложений Present Perfect Continuous
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
        .tense__explanations-item
            .tense__explanations-ico ВС
            .tense__explanations-description Вопросительное слово по требованию
    .tense__scheme
        .tense__explanations-ico ВС
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words Have
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Have you been exercising lately?
            |  – Ты занимался спортом в последнее время?
        .tense__examples-item
            b You are so fit. Have you been exercising?
            | – Ты выглядишь подтянутым. Ты занимался спортом?
        .tense__examples-item
            b Your eyes are red. Have you been crying?
            | – У тебя красные глаза. Ты плакал?
    .tense__scheme
        .tense__explanations-ico ВС
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words Has
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Why has Mary not been taking her English classes for the last three days?
            |  – Почему Мэри не берет уроки английского в последние три дня?
        .tense__examples-item
            b How long has she been waiting for you?
            | – Как долго она тебя ждала?
        .tense__examples-item
            b Has she been waiting for you for half an hour?
            | – Она ждала тебя на протяжении получаса?



