.tense__main
    h5.tense__main-title Схема построения утвердительной формы предложений Present Perfect Continuous
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico.ico-3 V
            .tense__explanations-description Глагол в третьей форме (форма неправильных глаголов)
        .tense__explanations-item
            .tense__explanations-ico ed
            .tense__explanations-description Глагол с окончанием -ed
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words have been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b I have been working on my English homework since eight o'clock this morning.
            | – Я работаю на домашкой по английскому с 8 утра (и все еще не закончил).
        .tense__examples-item
            b We have been talking about our wedding.
            |  – Мы разговаривали о нашей свадьбе.
        .tense__examples-item
            b I have been watching this trick all this time.
            | – Я смотрела на этот фокус всё это время.
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words has been
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico ed
            .tense__words или
            .tense__explanations-ico.ico-3 V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Mary (she) has been feeling so happy all day.
            | – Мэри чувствует себя такой счастливой целый день.
        .tense__examples-item
            b Bob (he) has been watching too much TV lately.
            | – Боб в последнее время смотрит телек слишком много.
        .tense__examples-item
            b It has been raining.
            | — Шел дождь (на дорогах – лужи).
        .tense__examples-item
            b Someone has been eating my cookies at work.
            | – Кто-то ест мои печеньки на работе (коробка опустела).


