.tense__main
    h5.tense__main-title Present Simple - это настоящее простое время.
    h6.tense__list-title Употребляется когда хочешь рассказать о:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('повторяющихся действиях, фактах, законах природы')
            +grammar-list-point('событиях в будущем, когда действия происходять регулярно, по расписанию')
            +grammar-list-point('нескольких событиях в настоящем, которые происходят одно за другим (например инструкции или указания)')
            +grammar-list-point('что делаешь постоянно, каждый день (неделю и т.д.) (привычки)')
            +grammar-list-point('выражение чувств, мыслей, симпатии, состояния (с глаголами see, hear, know, understand, love, hate, like, prefere, remember, want, think, mean, belive и т.д.)')
            +grammar-list-point('явления природы, неопровержимые истины')
            +grammar-list-point('дейстрия в "будущем" без периода времени')