include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Future Simple - это простое будущее время.
    h6.tense__list-title Употребляется когда хочешь рассказать о:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('о том, что хотим или собираемся сделать')
            +grammar-list-point('что-то обещаем или вызываемся что-то сделать добровольно')
            +grammar-list-point('события в будущем, которые нельзя изменить')
            +grammar-list-point('когда предсказываем и предполагаем какие-то события')
            +grammar-list-point('когда предупреждаем или угрожаем')
            +grammar-list-point('когда принимаем спонтанные решения')