//- .training__hidden
section.training__test.quiz-test
    .quiz-test__header
        img.quiz-test__logo(src="@img/quiz_2.svg", alt="Quiz")
        .progress
            .progress__points.progress__hidden 0


        .quiz-test__close
            img(src="@img/close-btn.svg", alt="Close")
    .quiz-test__description
        .quiz-test__content-descr
            img.quiz-test__ico-descr(src="@img/question.svg", alt="Description")
            .quiz-test__text-descr
                .quiz-test__title-descr Как играть?
                .quiz-test__text Выбери правельный перевод слова из четырех вариантов ответов
        button.quiz-test__btn-start Начать
    .quiz-test__questions-box


