
section.training__test.quiz.quiz__hidden
    .quiz__header
        img.quiz__logo(src="@img/quiz_2.svg", alt="Quiz")
        .progress
            .progress__points.progress__hidden 0
        .quiz__close
            img(src="@img/close-btn.svg", alt="Close")
    .quiz__description
        .quiz__content-descr
            img.quiz__ico-descr(src="@img/question.svg", alt="Description")
            .quiz__text-descr
                .quiz__title-descr Как играть?
                .quiz__text Выбери правельный перевод слова из четырех вариантов ответов
        button.quiz__btn-start Начать
    .quiz__questions-box


