//- .quiz-test__hidden
section.training__test.training__hidden.quiz-test
    .quiz-test__header
        .quiz-test__progress
            img.quiz-test__decore(src="@img/angle-decore.svg", alt="Decore")
        .quiz-test__close
            img(src="@img/close-btn.svg", alt="Close")
    .quiz-test__description
        img.quiz-test__logo(src="@img/quiz.svg", alt="Quiz")
        .quiz-test__content-descr
            img.quiz-test__ico-descr(src="@img/question.svg", alt="Description")
            .quiz-test__text-descr
                .quiz-test__title-descr Как играть?
                .quiz-test__text Выбери правельный перевод слова из четырех вариантов ответов
        button.quiz-test__btn-start Начать
    .quiz-test__questions-box

