.tense__main
    h5.tense__main-title Схема построения утвердительной формы предложений Past Continuous
    .tense__explanations
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/approval-form.svg", alt="approval form")
            .tense__explanations-description Утвердительная форма
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/verb-ing.svg", alt="verb-ing")
            .tense__explanations-description Глагол с окончание -ing
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/verb-to-be.svg", alt="verb-to-be")
            .tense__explanations-description Форма глагола to be
    .tense__scheme
        img(class="tense__scheme-img" src="@img/approval-form.svg", alt="Утвердительная форма")
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            img(class="tense__verb-img" src="@img/verb-to-be.svg", alt="Глагол to be")
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            img(class="tense__verb-img" src="@img/verb-ing.svg", alt="Глагол с окончанием ing")
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b I was eating breakfast.
            | — Я ел завтрак.
        .tense__examples-item
            b Students (they) were working on essays.
            | — Студенты работали над эссе.
        .tense__examples-item
            b Bob (he) was sleeping.
            | — Боб спал.
        .tense__examples-item
            b Mary (she) was feeding the dog.
            | — Мэри кормила собаку.
    .tense__scheme
        img(src="@img/to-be-ps.svg", alt="to be")


