include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('at 7 a.m. – в 7 утра (вместо 7 a.m. можно подставить любое другое время, важно именно указание на конкретный период времени)', 'Mr. Smith was playing football at 4 o`clock. — В 4 часа мистер Смит играл в футбол.')
            +grammar-list('all day/night (long) – весь день/всю ночь (напролет)', 'We were sitting there all day.	Мы сидели там весь день.')
            +grammar-list('all the time - все время', 'He was making fun of me all the time. - Он все время смеялся надо мной.')
            +grammar-list('at that moment – в тот момент', 'I was teaching my pigeon to fly at that moment the day before yesterday. - Я учил своего голубя летать в то же самое время позавчера.')
            +grammar-list('while – в то время как', 'I was washing the floor while he was vacuuming the carpet. - Я мыл полы, в то время как он пылесосил ковер.')
            +grammar-list('when – когда', 'She was brushing her teeth when I went into the bathroom. - Она чистила зубы, когда я вошел в ванную.')

