include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Past Continuous - это время, которое указывает на процесс, длившийся в определенный момент или период в прошлом.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('для описания действий, которые длились в определенный период или конкретный момент времени в прошлом')
            +grammar-list-point('прерванное действие в прошлом ( с союзом «when») ')
            +grammar-list-point('длительные действия, которые происходили одновременно в прошлом (c союзом «while» и иногда просто «and») ')
            +grammar-list-point('для описания атмосферы и обстановки в рассказах и историях')
            +grammar-list-point('для описания повторяющихся действий или привычек, которые нас раздражали в прошлом (слова маркеры «always» и «constantly»)')