@import '../_variables';

.wrapper {
    &__grammar {
        background-color: $pastel_1;

        &::after {
            @include wrapper-top;
            background-color: $pastel_1;
        }
    }
}

.grammar {

    &__items {
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;
        margin-bottom: 37px;
    }

    &__title {
        background-color: $bright_1;
        border-radius: 8px;
        padding: 10px;
        color: $box;
    }

    &__hidden {
        display: none;
    }

}

/*media*/


@media (max-width: 1090px) {
    .grammar  {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            margin-top: 15px;
            margin-bottom: 5px;
        }
    }
}



