@import '../_variables';

.wrapper {
    &__tense {
        background-color: $pastel_1;

        &::after {
            @include wrapper-top;
            background-color: $pastel_1;
        }
    }
}

.tense {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arrow-prev,
    &__arrow-next {
        cursor: pointer;
        @include box-shadow-svg;
        border-radius: 50%;
        border: none;
        background-color: transparent;
    }

    &__arrow-prev-img,
    &__arrow-next-img {
        width: 55px;
        height: 55px;
    }

    &__wrapper {
        position: relative;
        flex: 1;
        @include box-border-shadow;
        margin-left: 25px;
        margin-right: 25px;
    }

    &__content {
        background-color: $pastel_1;
        padding: 68px 80px;
        overflow-y: scroll;
    }

    &__header {
        position: absolute;
        top: -5px;
        left: 0;
        right: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        background-color: $box;
    }

    &__header-title {
        color: $text;
        font-weight: 300;
        font-size: 16px;
        line-height: 25px;
        margin-right: 30px;
    }

    &__header-close {
        width: 26px;
        height: 26px;
        cursor: pointer;
    }

    //

    &__progress {
        display: flex;
        align-items: center;
    }

    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $pastel_1;
        border: 2px solid $bright_1;
    }

    &__dot--active {
        background-color: $bright_1;
    }

    &__dot-progress-line {
        height: 3px;
        width: 25px;
        background-color: $bright_1;
    }

    &__dot-img-hidden {
        display: none;
    }

    //
    &__main-title {
        padding: 14px 30px;
        @include subtitle-font;
        border-radius: 8px;
        color: $box;
        background-color: $bright_1;
        margin-bottom: 25px;
        text-align: center;
    }

    &__list-title {
        @include subtitle-font;
        color: $text;
        margin-bottom: 32px;
    }

    &__list-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__list-done {
        background-color: $bright_1;
        color: $box;
        cursor: pointer;
        margin-top: 20px;
        @include default-btn;
        @include shadow-btn_1;
    }

    &__list-done--hidden {
        display: none;
    }

    // mixin grammar-list-point style
    &__list-point {
        display: flex;
        margin-bottom: 32px;
    }

    &__list-img {
        width: 26px;
        height: 26px;
    }

    &__list-text {
        margin-left: 17px;
    }

    &__list-point:last-child {
        margin-bottom: 0;
    }

    // mixin grammar-list style
    &__list-word {
        @include subtitle-font;
    }

    &__list + &__list {
        margin-top: 40px;
    }
    //

    &__explanations-item {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
    }

    &__explanations-img {
        width: 33px;
        height: 33px;
        margin-right: 6px;
    }

    &__explanations-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
    }

    &__scheme {
        background-color: $bright_1;
        border-radius: 8px;
        padding: 24px 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__scheme-img {
        width: 48px;
        height: 48px;
        margin-right: 30px;
    }

    &__verb-img {
        width: 48px;
        height: 48px;
    }

    &__scheme-subjects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    &__subjects-item,
    &__words {
        color: $box;
    }

    &__scheme-arrow {
        width: 52px;
        margin-right: 22px;
    }

    &__small-arrow {
        width: 33px;
        margin-right: 30px;
        margin-left: 30px;
    }

    &__examples {
        background-color: $box;
        border-radius: 8px;
        padding: 24px 30px;
        display: flex;
        flex-direction: column;
    }

    &__examples-item {
        margin-bottom: 6px;
    }

    &__footer {
        background-color: $box;
        height: 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    &__hidden {
        display: none;
    }
}