@import '../variables';

.verb {
    padding: 24px;
    margin: 15px;
    @include box-border-shadow;

    &__title {
        padding: 12px;
        background-color: $box;
        margin-bottom: 35px;
        text-transform: uppercase;
        text-align: center;
        border-radius: 8px;
    }

    &__text {
        font-weight: 600;
        color: $box;
    }
}

@media (max-width: 470px) {
    .verb  {
        margin: 10px 0;
        padding: 20px;
        &__title {
            margin-bottom: 15px;
        }
    }
}

