@import '../variables';

.wrapper__auth {
    background-color: $pastel_1;
    &::after {
        @include wrapper-top;
        background-color: $pastel_1;
    }
}

.auth {
    display: flex;
    justify-content: space-around;

    &__auth {
        margin-left: 58px;
        margin-right: 58px;
        width: 541px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include box-border-shadow;
        background-color: $box;
        padding: 50px 15px;
    }

    &__title {
        @include title-font;
        margin-bottom: 30px;
    }

    &__login,
    &__signup,
    &__forgot,
    &__recover {
        width: 626px;
        @include box-border-shadow;
        padding: 44px;
        position: relative;
        background-color: $bright_1;
    }

    &__label {
        display: block;
        width: 100%;
    }

    &__label + &__label {
        margin-top: 36px;
    }

    &__input {
        padding: 11px 23px;
        height: 50px;
        width: 100%;
        border: none;
        border-radius: 8px;
    }

    &__input::placeholder {
        color: $bright_2;
    }

    &__recover-pass {
        display: block;
        color: $box;
        margin-top: 15px;
        text-align: right;
    }

    &__btn {
        @include default-btn;
        @include shadow-btn_1;
        margin: 0 auto;
        background-color: $box;
        margin-top: 29px;
        color: $text;
    }

    &__change-create,
    &__change-auth {
        cursor: pointer;
        margin-top: 21px;
        @include subtitle-font;
    }

    &__label {
        position: relative;
    }

    &__toggle-pass,
    &__toggle-repeat-pass {
        width: 35px;
        position: absolute;
        z-index: 10;
        bottom: 11px;
        right: 8px;
    }

    &__show-pass-img,
    &__show-repeat-pass-img {
        width: 30px;
        margin-bottom: 4px;
    }

    &__hide-pass-img,
    &__hide-repeat-pass-img {
        width: 28px;
    }

    &__hidden {
        display: none;
    }

    &__error {
        margin-top: 25px;
        text-align: center;
        color: $box;
    }

    &__link {
        text-decoration: underline;
        cursor: pointer;
        font-weight: 700;
    }

    &__error-msg {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 25px;
        color: $box;
    }
}

@media (max-width: 1360px) {
    .auth {
        &__login,
        &__signup,
        &__forgot,
        &__recover {
            width: 525px;
        }

        &__auth {
            width: 435px;
        }
    }
}


@media (max-width: 1024px) {
    .auth {
        &__login,
        &__signup,
        &__forgot,
        &__recover {
            width: 425px;
        }

        &__auth {
            width: 335px;
            padding: 25px 15px;
        }

        &__title {
            margin-bottom: 15px;
        }

        &__change-create,
        &__change-auth {
            margin-top: 15px;
        }
    }
}

@media (max-width: 800px) {
    .auth {
        flex-direction: column;
        align-items: center;

        &__login,
        &__signup,
        &__forgot,
        &__recover {
            width: 525px;
        }

        &__auth {
            width: 435px;
        }
    }

}
@media (max-width: 576px) {
    .auth {
        &__login,
        &__signup,
        &__forgot,
        &__recover {
            width: 425px;
        }

        &__auth {
            width: 335px;
        }
    }

}

@media (max-width: 456px) {
    .auth {
        &__login,
        &__signup,
        &__forgot,
        &__recover {
            padding: 25px;
            width: 325px;
        }

        &__auth {
            width: 235px;
        }
    }

}
@media (max-width: 370px) {
    .auth {
        &__login,
        &__signup,
        &__forgot,
        &__recover {
            padding: 25px;
            width: 275px;
        }

        &__auth {
            width: 230px;
        }

        &__password,
        &__repeatPassword {
            padding: 11px 35px 11px 10px;
        }

        &__toggle-pass,
        &__toggle-repeat-pass {
            right: 0;
        }
    }
}