include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Future Perfect — будущее совершенное время обозначает действия, которое уже совершится и будет закончено к определенному моменту в будущем.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('действие, которое завершится к определенному моменту в будущем')
            +grammar-list-point('действие будет длится до определенного момента в будущем с глаголами состояния, которые не употребляются в длительных временах Continuous (to know, to think, to be, to own) ')
            +grammar-list-point('в пассивном залоге, когда нам не так важно, кто будет выполнять действие: после конструкции will have добавляем been и V3')

