include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Future Continuous - это будущее длительное время.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('действия в конкретный момент времени в будущем')
            +grammar-list-point('когда мы хотим рассказать о том, что несколько вещей будут происходить одновременно')
            +grammar-list-point('неизбежные будущие события, которые точно произойдут в результате каких-либо подготовительных действий или просто естественным путём, мы уверены, что будет так и никак иначе')
            +grammar-list-point('для выражения каких-то планов на будущее')
            +grammar-list-point('вежливый вопрос - конструкцию Future Continuous можно использовать, чтобы аккуратно и вежливо узнать у собеседника о планах на ближайшее будущее, при помощи такой формы мы можем поинтересоваться, совпадают ли намерения другого человека с нашими желаниями')
