include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('at 3 o’clock - в три часа', 'I shall be having a yoga class at 9 o’clock tomorrow — Завтра в 9 часов у меня будет занятие по йоге.')
            +grammar-list('this time next week/month/year — в это время на следующей неделе, в это время в следующем месяце/году', 'This time next week I will be having dinner with Tiffany. — В это время на следующей неделе я буду ужинать с Тиффани.')
            +grammar-list('the whole morning/evening/day — целое утро, целый вечер/день', 'Tom will be waiting for you the whole day. — Том будет ждать тебя весь день.')
            +grammar-list('During the evening — в течение вечера', 'We will be playing Twister during the evening. — В течение вечера мы будем играть в твистер.')
            +grammar-list('From ... till — с ... до (о времени)', 'They won’t be working from 9 p.m. till 11 p.m. — Они не будут работать с 9 до 11 вечера.')
            +grammar-list('For ... hours — на протяжении ... часов', 'I will be fixing the bugs for 3 hours! — Я буду исправлять ошибки в программе три часа!')
            +grammar-list('All day long — целый день', 'I bet she will be sleeping all day long. — Готов поспорить, она будет спать весь день напролет.')

    .tense__scheme
        .tense__subjects-item Есть такие глаголы, которые не употребляются в длительной форме Continuous. По-английски они называются stative verbs. Они выражают мыслительные процессы, чувства — то, что происходит у нас внутри.
            .tense__examples
                .tense__examples-item
                    b Эмоции:
                    span  love - любить, like - нравится, want - хотеть, wish - желать, hate - ненавидеть, need - нуждаться, prefer - предпочитать
                .tense__examples-item
                    b Мыслительные процессы:
                    span   know - знать, agree - соглашаться, believe - верить, forget - забывать, expect - ожидать, understand - понимать, respect - уважать, remember - помнить
                .tense__examples-item
                    b Обладание, отношение:
                    span   be - быть, belong - принадлежать, consist - состоять, have - иметь
