@import '../variables.scss';

.home {
    display: flex;
    align-items: center;
    justify-content: center;

    &__login-btn {
        @include default-btn;
        @include shadow-btn_2;
        margin: 0 auto;
        background-color: $bright_2;
        margin-top: 29px;
        color: $box;
        height: fit-content;
    }
    &__greeting-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 53px;
    }

    &__greeting-img-box {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        @include box-shadow-svg;
        background-color: #fff;
        margin-top: 255px;
    }

    &__greeting-img {
        width: 300px;
        margin-top: -218px;
    }

    &__greeting-text {
        width: 427px;
        padding: 45px;
        border-radius: 100px;
        background-color: $box;
        position: absolute;
        top: -250px;
        left: 70%;
    }

    &__greeting-text::after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 25px solid $box;
        border-bottom: 10px solid transparent;
        left: 1px;
        bottom: 25px;
        transform: rotate(-40deg);
    }

    &__auth-link {
        display: inline-block;
        background-color: $bright_1;
        color: $box;
        padding: 3px 5px;
        border-radius: 8px;
        margin-bottom: 4px;
    }
}

@media (max-width: 1150px) {
    .home {
        &__greeting-img-box {
            margin-right: 307px;
        }
    }
}
@media (max-width: 1024px) {
    .home {

        &__greeting-text {
            margin-left: 25px;
        }

    }
}

@media (max-width: 850px) {
    .home {

        &__greeting-img-box {
            margin-right: auto;
            margin-top: 370px;
        }

        &__greeting-text {
            top: -415px;
            left: 5%;
        }

        &__greeting-text::after {
            left: 59px;
            bottom: -12px;
            transform: rotate(-57deg);
        }
    }
}

@media (max-width: 800px) {
    .home {
        &__greeting-item {
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 520px) {
    .home {
        &__greeting-img-box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }
        &__greeting-img {
            width: 230px;
            margin-top: 0;
        }
        &__greeting-text {
            text-align: center;
            position: static;
            width: 100%;
            margin: 0;
            padding: 0;
            &::after {
                border: 0;
            }
        }
    }
}
