@import '../variables';

.wrapper__cards {
    background-color: $pastel_3;
    &::after {
        @include wrapper-top;
        background-color: $pastel_3;
    }
}

.cards {
    &__title {
        position: relative;
        margin-bottom: 45px;
        padding: 10px;
        @include title-font;
        @include box-border-shadow ;
        background-color: $bright_3;
        border-radius: 8px;
        color: $box;
        padding-left: 45px;
    }

    &__topics {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        grid-gap: 15px;
    }

    &__topics-item {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 205px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        @include box-border-shadow;
        transition: .5s;

        &:hover {
            box-shadow: 8px -2px 0px #F2C986;
            border-radius: 8px;
        }
    }

    &__topics-item-title {
        margin-top: 10px;
    }

    &__hidden {
        display: none;
    }

}

@media (max-width: 1160px) {
    .cards {
        &__topics {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}
@media (max-width: 870px) {
    .cards {
        &__topics {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}
@media (max-width: 470px) {
    .cards {
        &__topics {
            grid-template-columns: repeat(1, 1fr);
        }

        &__title {
            margin-bottom: 15px;
        }

    }
}