.tense__main
    h5.tense__main-title Схема построения вопросительной формы предложений Past Simple
    .tense__explanations
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/question-form.svg", alt="approval form")
            .tense__explanations-description Вопросительная форма
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/verb.svg", alt="verb")
            .tense__explanations-description Глагол
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/question-word.svg", alt="question word")
            .tense__explanations-description Вопросительное слово по требованию
    .tense__scheme
        img(class="tense__scheme-img" src="@img/question-form.svg", alt="Вопросительная форма")
        img(class="tense__scheme-img" src="@img/question-word.svg", alt="Вопросительное слово")
        .tense__words Did
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            img(class="tense__verb-img" src="@img/verb.svg", alt="Глагол")
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b Did you wash your hands?
            | - Ты помыл руки?
        .tense__examples-item
            b Did they sign the contract?
            | — Они подписали контракт?
        .tense__examples-item
            b Did students like the film?
            | — Студентам понравился фильм?

