include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Past Simple - простое прошедшее время.
    h6.tense__list-title Употребляется когда хочешь рассказать о:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('факте или законченном действие в прошлом и никак не связанном с настоящим моментом')
            +grammar-list-point('события, последовательно (друг за другом) происходившие в прошлом')
            +grammar-list-point('привычки и повторяющиеся действия в прошлом')
            +grammar-list-point('действие, которое произошло в определенное время в прошлом')