include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Future Perfect Continuous —  будущее совершенное длительное время.
    h6.tense__list-title Случаи употребления:
    nav.tense__list
        ul.tense__list-box
            +grammar-list-point('Мы используем будущее завершённо-длительное, чтобы показать, что что-то будет продолжаться до определенного события или какого-то времени в будущем: «for ten minutes» – в течение десяти минут, «since Sunday» – с субботы и т.д.')
            +grammar-list-point('Использование Future Perfect Continuous перед иным действием в будущем — отличный способ выстроить причинно-следственные связи.')


