@import '../variables.scss';

.header {
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 100;
    background-color: $box;
    @extend %box-border-shadow;
}

.menu {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        @extend %title-font;
        color: $text;
    }

    &__item + &__item {
        margin-left: 66px;
    }

    &__link {
        display: inline-block;
    }
}