section.training__test.constructor.constructor__hidden
    .constructor__header
        img.constructor__logo(src="@img/constructor.svg", alt="constructor")
        .progress.progress__constructor
        .constructor__close
            img(src="@img/close-btn.svg", alt="Close")
    .constructor__description
        .constructor__content-descr
            img.constructor__ico-descr(src="@img/question.svg", alt="Description")
            .constructor__text-descr
                .constructor__title-descr Как играть?
                .constructor__text Собери слово из букв
        button.constructor__btn-start Начать
    .constructor__questions-box
