include html/mixins
- var title = "Наборы слов";
html
    include html/head
    body
        .wrapper.wrapper__cards
            include html/header
            main.main
                .container
                    .cards
                        article.cards__category
                            h2.cards__title Еда
                            .cards__topics
                                .cards__topics-item(data-topic="fish" data-level="a1" data-title="Рыба")
                                    img(src="@img/cards-ico/fish.svg", alt="Fish")
                                    h3.cards__topics-item-title Рыба
                                .cards__topics-item(data-topic="meat" data-level="a1" data-title="Мясо")
                                    img(src="@img/cards-ico/meat.svg", alt="Meat")
                                    h3.cards__topics-item-title Мясо
                                .cards__topics-item(data-topic="vegetables" data-level="a1" data-title="Овощи")
                                    img(src="@img/cards-ico/vegetables.svg", alt="Vegetables")
                                    h3.cards__topics-item-title Овощи
                                .cards__topics-item(data-topic="fruit" data-level="a1" data-title="Фрукты")
                                    img(src="@img/cards-ico/fruits.svg", alt="Fruit")
                                    h3.cards__topics-item-title Фрукты
                    section.dictionary.dictionary__hidden
                        .dictionary__header
                            h1.dictionary__title Фрукты
                            .dictionary__close
                                img.dictionary__close-img(src="@img/close-btn.svg", alt="Close")
                        .dictionary__content
                        .dictionary__footer
            include html/footer