include html/mixins
- var title = "Наборы слов";
html
    include html/head
    body
        .wrapper
            include html/header
            main.main
                .container
                    .cards
                        article.cards__category
                            h2.cards__title Еда
                            .cards__topics
                                .cards__topics-item
                                    img(src="@img/cards-ico/fish.svg", alt="Fish")
                                    h3.cards__topics-item-title Рыба
                                .cards__topics-item
                                    img(src="@img/cards-ico/meat.svg", alt="Meat")
                                    h3.cards__topics-item-title Мясо
                                .cards__topics-item
                                    img(src="@img/cards-ico/vegetables.svg", alt="Fish")
                                    h3.cards__topics-item-title Овощи
                                .cards__topics-item
                                    img(src="@img/cards-ico/fruits.svg", alt="Fish")
                                    h3.cards__topics-item-title Фрукты

            include html/footer
            script(src='js/app.min.js')