include html/mixins
- var title = "Главная";
html
    include html/head
    body
        include html/header
        main.page
            .container
                h1= title
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti harum tempora totam vitae ex blanditiis quibusdam perspiciatis aspernatur nemo. Dolorum?
            include html/footer
            script(src='js/app.min.js')