include html/mixins
- var title = "Тренировки";
html
    include html/head
    body
        .preloader
            .preloader__row
                .preloader__item
                .preloader__item
        .wrapper.wrapper__training
            include html/header
            main.main
                .container
                    section.training(data-auth="")
                        article.training__item.quiz-test
                            img(class="training__ico" src="@img/quiz.svg", alt="`Quiz")
                            h3.training__title Викторина
                            p.training__description Выбери правильный вариант ответа из четырех предложенных
                        article.training__item.believe-test
                            img(class="training__ico" src="@img/believe-game.svg", alt="Believe or not believe")
                            h3.training__title Верю - Не верю
                            p.training__description Определи верно или не верно подобран перевод к слову
                        article.training__item.constructor-test
                            img(class="training__ico" src="@img/constructor.svg", alt="Constructor")
                            h3.training__title Конструктор
                            p.training__description Составь слово из разбросанных букв
                    include html/training/quiz/quiz
                    include html/training/believe/believe
                    include html/training/constructor/constructor


            include html/footer