include html/mixins
- var title = "Тренировки";
html
    include html/head
    body
        include html/header
        main.page
            .container

    include html/footer
    script(src='js/app.min.js')