// +
$text: #222831;
$box: #fff;

//-
$bg-main: #F5F5F5;
$bg-accent: #F9F9F9;

$color-positive: #0BC371;
$color-neutral: #5091F9;
$color-negative: #F67463;

//+
$bright_1: #26C1FC; // blue
$pastel_1: #DDF5FF; // pastel blue

$bright_2: #BF8FFD; // violet
$pastel_2: #F2EAFF; // pastel violet

$bright_3: #F5A72B; // orange
$pastel_3: #FFEBCB; // pastel orange

$bright_4: #FD8BD0; // respberry
$pastel_4: #FFF2F9; // pastel respberry

//+
%title-font{
    font-size: 22px;
    line-height: 26px;
    font-weight: 800;
}

//+
%subtitle-font {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
}

//+
%text-font {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

//+
%box-border-shadow {
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
}

//+
%default-btn {
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    padding: 16px 38px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

%shadow-btn_2 {
    box-shadow: 0px 5px 0px #A17AD3;
    transition: .5s;

    &:hover {
        background-color: #A17AD3;
        box-shadow: 2px 5px 0px #BF8FFD;
    }
}

/**/