/*theme white-balck*/
$text: #222831;
$accent-color: #fff;
$bg-main: #F5F5F5;
$bg-accent: #F9F9F9;

$color-positive: #0BC371;
$color-neutral: #5091F9;
$color-negative: #F67463;

%title-font{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

%subtitle-font {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

%text-font {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

%box-shadow {
    -webkit-box-shadow: 0px 0px 4px rgba(220, 220, 220, 0.25);
    -moz-box-shadow: 0px 0px 4px rgba(220, 220, 220, 0.25);
    box-shadow: 0px 0px 4px rgba(220, 220, 220, 0.25);
}

%reset-button-style {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

%botton-style {
    background: linear-gradient(180deg, #0D62FC 0%, #3E84FD 100%);
    border: 2px solid #94B9FA;
    border-radius: 4px;
    padding: 13px 30px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: $accent-color;
}

/**/