@import 'scroll';
@import 'fonts';
@import 'variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
    @extend %text-font;
}

a {
    color: inherit;
}

.wrapper {
    position: relative;
    padding: 5px;
    background-color: $pastel_4;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    padding-top: 135px;
    padding-bottom: 65px;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1460px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.title {
    @extend %title-font;
}

.accent_1 {
    background-color: $bright_1;
}
.accent_2 {
    background-color: $bright_2;
}
.accent_3 {
    background-color: $bright_3;
}
.accent_4 {
    background-color: $bright_4;
}

@import 'reset.scss';
@import './header/header.scss';
@import './footer/footer.scss';
// grammar
@import './grammar/grammar.scss';
@import './grammar/tense.scss';
@import './grammar/verb.scss';
// training
@import './training/training.scss';
@import './training/quiz.scss';
// cards
@import './cards/cards.scss';


@media (max-height: 720px) {
    .main {
        padding-top: 120px;
        padding-bottom: 27px;
    }
}

