@import 'variables';
@import 'fonts';
@import 'scroll';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $text;
    @include text-font;
}

a {
    color: inherit;
}

.wrapper {
    position: relative;
    padding: 5px;
    background-color: $pastel_4;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &::after {
        @include wrapper-top;
        background-color: $pastel_4;
    }
}

.header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
    padding-top: 135px;
    padding-bottom: 65px;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1460px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.title {
    @include title-font;
}

.accent_1 {
    background-color: $bright_1;
}
.accent_2 {
    background-color: $bright_2;
}
.accent_3 {
    background-color: $bright_3;
}
.accent_4 {
    background-color: $bright_4;
}


@import 'reset.scss';
@import './header/header.scss';
@import './footer/footer.scss';
@import './common/hint.scss';
@import './common/results.scss';
// auth
@import './auth/auth.scss';
// grammar
@import './grammar/grammar.scss';
@import './grammar/tense.scss';
@import './grammar/verb.scss';
// training
@import './training/training.scss';
@import './training/quiz.scss';
@import './training/progress';
@import './training/believe.scss';
@import './training/constructor.scss';
// cards
@import './cards/cards.scss';
@import './cards/dictionary.scss';


@media (max-width: 1024px) {
    .main {
        padding-top: 85px;
        padding-bottom: 15px;
    }
}

@media (max-width: 800px) {
    .main {
        padding-top: 35px;
    }
}



@media (max-height: 720px) {

}

