@import '../variables';

.quiz-test{
    max-width: 1280px;
    margin: 0 auto;
    @extend %box-border-shadow;
    background-color: $box;
    padding-bottom: 47px;

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
    }

    &__close {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &__description {
        background-color: $pastel_2;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px;
    }

    &__title-descr {
        @extend %title-font;
        margin-bottom: 15px;
    }

    &__content-descr {
        display: flex;
        align-items: center;
        margin-top: 21px;
    }

    &__ico-descr {
        margin-right: 12px;
    }

    &__btn-start {
        margin: 0 auto;
        margin-top: 76px;
        @extend %default-btn;
        background-color: $bright_2;
        color: $box;
        @extend %shadow-btn_2;
    }

    //
    &__item {
        padding-top: 60px;
        padding-bottom: 78px;
        background-color: $pastel_2;
        padding-left: 100px;
        padding-right: 100px;
    }

    &__item-header {
        width: 890px;
        margin: 0 auto;
        padding: 22px;
        background-color: $box;
        @extend %box-border-shadow;
    }

    &__console {
        padding: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $pastel_2;
        border-radius: 8px;
    }

    &__console-ico {
        cursor: pointer;
        width: 55px;
        height: 55px;
        &:first-child {
            margin-right: 20px;
        }
    }

    &__word {
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %title-font;
        text-transform: uppercase;
    }

    &__options {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 30px;
    }

    &__btn {
        @extend %default-btn;
        background-color: $bright_2;
        color: $box;
        @extend %shadow-btn_2;
    }
    //

    &__hint {
        background: #EEFFED;
        border: 2px solid #BAEBB9;
    }

    &__results {
        width: 290px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: $bright_2;
        @extend %box-border-shadow;
    }

    &__points {
        width: 100%;
        padding: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: $box;
        margin-bottom: 27px;
    }

    &__point-num {
        @extend %title-font;
        margin-bottom: 5px;
        color: $bright_2;
    }

    &__point-text {
        color: $box;
        text-align: center;
    }

    &__hidden{
        display: none;
    }
}

