@import '../variables';

.wrapper__training {
    background-color: $pastel_2;

    &::after {
        @include wrapper-top;
        background-color: $pastel_2;
    }
}

.training {
    height: 100%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;

    &__hidden {
        display: none;
    }

    &__item {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        background-color: $bright_2;
        padding: 30px;
        @include box-border-shadow;
    }

    &__ico {
        max-width: 169px;
        max-height: 80px;
    }

    &__title {
        width: 100%;
        text-align: center;
        padding: 9px;
        border-radius: 8px;
        background-color: $box;
        @include title-font;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__description {
        color: $box;
        text-align: center;
    }
}

@media (max-width: 1280px) {
    .training {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 800px) {
    .training {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 380px) {
    .results {
        width: 230px;
    }

}