include ../../mixins/grammar-tense-item
.tense__main
    h5.tense__main-title Указатели времени
    nav.tense__list
        ul.tense__list-box
            +grammar-list('Always - всегда', 'He always gets up at 7 a.m. — Он всегда встает в 7 утра.')
            +grammar-list('Often - часто', 'Small children often get sick — Маленькие дети часто болеют.')
            +grammar-list('Usually - обычно', 'They are usu­al­ly at home in the evening. — Они обычно дома вечером.')
            +grammar-list('Sometimes - иногда', 'I help in the shop sometimes — Иногда я помогаю в магазине.')
            +grammar-list('Regularly - постоянно', 'She regularly polishes her shoes – Она постоянно чистит свои туфли.')
            +grammar-list('Seldom - изредка', 'She seldom goes shopping – Она изредка ходит за покупками.')
            +grammar-list('Never - никогда', 'I never open the window in the evening – Я никогда не открываю окно вечером.')
            +grammar-list('From time to time - время от времени', 'From time to time they travel to Europe – Время от времени они путешествуют в Европу.')
            +grammar-list('Rarely - редко', 'He rarely gets up early in the morning – Он редко встаёт рано утром.')
            +grammar-list('Every day/week/month/ year - каждый день/неделю/месяц/год', 'Every year my family goes to the sea in summer – Каждый год летом моя семья отправляется к морю')