.tense__main
    h5.tense__main-title Схема построения утвердительной формы предложений Present Simple
    .tense__explanations
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/verb.svg", alt="verb")
            .tense__explanations-description Глагол
        .tense__explanations-item
            img(class="tense__explanations-img" src="@img/verb-s.svg", alt="verb-s")
            .tense__explanations-description Глагол с окончание (s/es)
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            img(class="tense__verb-img" src="@img/verb.svg", alt="Глагол")
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b I live in London.
            | - Я живу в Лондоне.
        .tense__examples-item
            b I work at a bank.
            | — Я работаю в банке.
        .tense__examples-item
            b My family and I (we) eat together.
            | — Моя семья и я едим вместе.
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__verb
            img(class="tense__verb-img" src="@img/verb-s.svg", alt="Глагол")
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b The meeting (it) starts at 6 o'clock.
            | - Собрание начинается в шесть часов.
        .tense__examples-item
            b Bob (he) works in Moscow.
            | — Боб работает в Москве.
        .tense__examples-item
            b The dog (it) sleeps under the bed.
            | — Собака спит под кроватью.

