.tense__main
    h5.tense__main-title Схема построения отрицательной формы предложений Present Simple
    .tense__explanations
        .tense__explanations-item
            .tense__explanations-ico V
            .tense__explanations-description Глагол
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item I
            .tense__subjects-item You
            .tense__subjects-item We
            .tense__subjects-item They
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words do not
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b I do not play football.
            | - Я не играю в футбол.
        .tense__examples-item
            b Students do not sit in the classroom.
            | — Студенты не сидят в классе.
        .tense__examples-item
            b I do not like black coffee.
            | — Я не люблю черный кофе.
        .tense__examples-item
            b I am not hungry.
            | — Я не голодный.
        .tense__examples-item
            b Students are not sleepy.
            | — Студенты не сонные.
    .tense__scheme
        .tense__scheme-subjects
            .tense__subjects-item He
            .tense__subjects-item She
            .tense__subjects-item It
        .tense__scheme-arrow
            img(class="tense__scheme-arrow-img" src="@img/arrow-schama.svg", alt="--->")
        .tense__words does not
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__verb
            .tense__explanations-ico V
        img(class="tense__small-arrow" src="@img/small-arrow.svg", alt="--->")
        .tense__words остальные слова
    .tense__examples
        .tense__examples-item
            b The meeting (it) starts at 6 o'clock.
            | - Собрание начинается в шесть часов.
        .tense__examples-item
            b Bob (he) works in Moscow.
            | — Боб работает в Москве.
        .tense__examples-item
            b The dog (it) sleeps under the bed.
            | — Собака спит под кроватью.

